<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto','margin-top':'-20px'}">

  <div  fxFlex="100" class="requerimientos-content">
    <mat-card class="haztefama-color-rojo-gradient m-t-0">
      <mat-card-content _ngcontent-hqr-c251="" class="mat-card-content text-center text-white">
        <h3 class="message">Gestiona tus requerimientos, recuerda tener una comunicación fluida con tus clientes</h3>
     
    </mat-card-content> 
    </mat-card>

    <div>
      <mat-card fxFLex="100" class="proyectos-card"  fxLayout="column" *ngFor="let postulacion of postulaciones">
        
        <mat-card-title class="proyecto-titulo"> 
           {{postulacion.servicio.nombre}}
           
          <mat-chip-list>
            
            <!-- <mat-chip color="warn" selected="true">abierta</mat-chip> -->
            <mat-chip color="accent" *ngIf="postulacion.status == 0" class="cerrada" selected="true">Cerrada</mat-chip>
            <mat-chip color="accent" *ngIf="postulacion.status == 1" class="abierta" selected="true">abierta</mat-chip>
            <mat-chip color="accent" *ngIf="postulacion.status == 2" class="abierta" selected="true">aceptada</mat-chip>
          </mat-chip-list>
           </mat-card-title>
        <div fxLayout="row" fxFlex="100" >
          <div><span class="texto-oscuro">Publicado: </span> <span class="f-z-14">{{postulacion.servicio.fecha_creacion | date:'short'}}</span>  <span class="costo-proyecto" fxShow.xs="false" fxShow="true">${{postulacion.servicio.min_price}} - ${{postulacion.servicio.max_price}}</span></div>
        </div>
        <div fxLayout="row" fxFlex="100" >
          <div><span class="texto-oscuro">Lugar del evento: </span> <span class="f-z-14">{{postulacion.servicio.lugar_evento}}</span> </div>
        </div>
        <div fxLayout="row" fxFlex="100" >
          <span class="costo-proyecto" fxShow.xs="true" fxShow="false">${{postulacion.servicio.min_price}} - ${{postulacion.servicio.max_price}}</span>
        </div>
        <p class="descripcion-proyecto" [ngClass.xs]="'m-t-25'">{{postulacion.servicio.descripcion}}</p>
        <p><span class="texto-oscuro">Fecha de entrega: </span> <span>{{postulacion.servicio.fecha_evento | date:'short'}}</span></p>
        <div>

          <mat-chip-list>
            
            <mat-chip color="warn" selected="true">{{postulacion.servicio.categoria.nombre}}</mat-chip>
            <mat-chip color="accent" selected="true">{{postulacion.servicio.subcategoria.nombre}}</mat-chip>
          </mat-chip-list>
        </div>
        <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100" class="proyecto-owner" fxLayoutGap="10px">
          <div>
            <div>
            
              <span class="author-avatar">
                <a >
                  <img src="{{url}}{{postulacion.servicio.usuario.foto}}" width="60" class="profile-photo">
                </a>
              </span>          
               <span class="f-z-14" class="author-name">{{postulacion.servicio.usuario.nombre}} {{postulacion.servicio.usuario.apellido}}</span>
            </div>
         
          </div>
          <span class="author-rate">
            <mat-icon class="star star-fill">star</mat-icon>
            <mat-icon class="star">star</mat-icon>
            <mat-icon class="star">star</mat-icon>
            <mat-icon class="star">star</mat-icon>
            <mat-icon class="star">star</mat-icon>
          </span>
          <div>
            <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" (click)="chat(postulacion._id)" *ngIf="(postulacion.status != 0)">Conversar con el cliente</button>

          </div>


        </div>
    </mat-card>
    </div>
  </div>

 </div>
 
