<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Contraseña incorrecta!</h1>
<div mat-dialog-content class="text-center margin-button-5">
  Para cambiar los datos debe ingresar la contraseña correcta
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>