.success{
    color: #1e88e5;
}


.text-center {
    text-align: center;
}

.margin-auto{
    margin: auto;
}

.margin-button-5{
    margin-bottom: 5px;
}

.margin-top{
    margin-top: 0;
}