<div fxLayout="row wrap"  fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
  <!-- column -->    
   <div fxFlex="100">
       <mat-card [ngStyle]="{'place-content': 'center'}">
         
           <mat-card-content fxFlex="90" >
             <div fxLayout.gt-xs="row"  fxLayout.xs="column" >
               <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
                <h3  class="text-themecolor title" [ngStyle]="{'margin-left':'-24px'}"><mat-icon class="back" routerLink="/admin/usuarios">arrow_back</mat-icon>Nuevo administrador</h3>

               </div>
              
             </div>
             <div class="form-cliente">
              <form [formGroup]="clienteForm" fxLayout="column">
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" >
                  
                  <mat-form-field fxFlex.gt-sm="33.3%" fxFlex.lt-sm="100%" class="input">
                    <input matInput placeholder="Nombre" formControlName="nombre">
                    <mat-error *ngIf="clienteForm.controls.nombre.errors?.required">El nombre es requerido</mat-error>
                    <mat-error *ngIf="clienteForm.controls.nombre.errors?.pattern">El nombre no puede contener numeros o caracteres especiales</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="33.3%" fxFlex.lt-sm="100%" class="input">
                    <input matInput placeholder="Apellido" formControlName="apellido">
                    <mat-error *ngIf="clienteForm.controls.apellido.errors?.required">El apellido es requerido</mat-error>
                    <mat-error *ngIf="clienteForm.controls.apellido.errors?.pattern">El nombre no puede contener numeros o caracteres especiales</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="33.3%" fxFlex.lt-sm="100%" class="input">
                    <input matInput type="number" placeholder="Telefono" formControlName="telefono">
                    <mat-error *ngIf="clienteForm.controls.telefono.errors?.required">El telefono es requerido</mat-error>
                  </mat-form-field>
                </div>
      
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" >
                  <mat-form-field fxFlex.gt-sm="33.3%" fxFlex.lt-sm="100%" class="input">
                    <input matInput placeholder="Nombre de usuario" formControlName="username">
                    <mat-error *ngIf="clienteForm.controls.username.errors?.required">El nombre de usuario es requerido</mat-error>
                   
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="66.6%" fxFlex.lt-sm="100%" class="input">
                    <input matInput placeholder="Correo electrónico" formControlName="email">
                    <mat-error *ngIf="clienteForm.controls.email.errors?.required">El correo es requerido</mat-error>
                    <mat-error *ngIf="clienteForm.controls.email.errors?.pattern">El correo no es valido</mat-error>
                  </mat-form-field>
                </div>
               
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" >
                  
                  <mat-form-field fxFlex.gt-sm="50%" fxFlex.lt-sm="100%" class="input">
                    <input matInput type="password" placeholder="contraseña" formControlName="password">
                    <mat-error *ngIf="clienteForm.controls.password.errors?.required">La contraseña es requerida</mat-error>
                    <mat-error *ngIf="clienteForm.controls.password.errors?.pattern">La contraseña debe tener  entre 8 y 16 caracteres, al menos un dígito, una minúscula, buna mayúscula y un caracter no alfanumérico.</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="50%" fxFlex.lt-sm="100%" class="input">
                    <input matInput type="password" placeholder="Repetir contraseña" formControlName="rpassword">
                    <mat-error *ngIf="clienteForm.controls.rpassword.errors?.required">Por favor repita la contraseña</mat-error>
                    <mat-error *ngIf="clienteForm.controls.rpassword.errors?.minlength">La contraseña debe tener minimo 8 caracteres</mat-error>
                    <mat-error *ngIf="clienteForm.controls.rpassword.errors?.repeatInvalid">La contraseña no coincide</mat-error>
                  </mat-form-field>
                </div>
                <mat-form-field fxFlex="100%" class="input">
                  <input matInput placeholder="Direccion" formControlName="direccion">
                  <mat-error *ngIf="clienteForm.controls.direccion.errors?.required">Debe intruduccir su dirección</mat-error>
                </mat-form-field>
             
                <button   mat-raised-button color="primary"  class="registro-button haztefama-color-rojo mt-4" [disabled]="clienteForm.invalid"  (click)="register()">Registrar</button>
              </form>
        
            </div>
           </mat-card-content>
       </mat-card>
   </div>
    
</div>

