<h1 mat-dialog-title class="text-center margin-button-5 error">Credenciales invalidas</h1>
<div mat-dialog-content class="text-center margin-button-5">
  El correo o la contraseña son incorrectos

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>