<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">
  Responder Comentario
</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form
    [formGroup]="comentarioForm"
    [ngStyle]="{ 'justify-content': 'center' }"
  >
    <mat-form-field fxFlex="80%" class="input">
      <textarea
        matInput
        placeholder="Responder comentario o sugerencia..."
        formControlName="respuesta"
        [ngStyle]="{ height: '200px' }"
      ></textarea>
      <mat-error *ngIf="">El comentario no puede quedar en vacio</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()" tabindex="-1" class="margin-auto">
    Cancelar
  </button>
  <button
    mat-button
    (click)="aceptar()"
    tabindex="-1"
    class="margin-auto"
    [disabled]="comentarioForm.invalid"
  >
    Aceptar
  </button>
</div>
