<h1 mat-dialog-title class="text-center margin-button-5 success">Correo enviado</h1>
<div mat-dialog-content class="text-center margin-button-5">
Se ha enviado un correo con un enlace para verificar su cuenta
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>