<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">
  Enviar cotizacion
</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="cotizacionForm" fxLayout="column">
    <mat-form-field    fxLayout="column" style="display:block !important;">
      <mat-label>Motivo</mat-label>
      <textarea matInput formControlName="motivo" ></textarea>
      <mat-error *ngIf="cotizacionForm.controls.motivo.errors?.required"
        >El motivo es requerido</mat-error
      >
    </mat-form-field>
    <br>
    <mat-form-field    fxLayout="row" >
      <mat-label>Monto</mat-label>
      <input matInput type="number" formControlName="monto" />
      <mat-error *ngIf="cotizacionForm.controls.monto.errors?.required"
        >El monto es requerido</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="margin-auto">
    Cancelar
  </button>
  <button
    mat-button
    (click)="aceptar()"
    tabindex="-1"
    class="margin-auto"
    [disabled]="cotizacionForm.invalid"
  >
    Aceptar
  </button>
</div>
