<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto'}">

  <div class="margin-auto" fxFlex="80">
    <mat-card fxFlex="100" class="msg-membresias text-center">
      <h1 class="text-white" fxShow.gt-xs="true" fxShow="false" >Adquiere las mejores membresías para que puedas prestar servicios en Haztefama.</h1>
      <h4 class="text-white" fxShow.xs="true" fxShow="false">Adquiere las mejores membresías para que puedas prestar servicios en Haztefama.</h4>
    </mat-card>
  </div>


  <div fxFlex="100" class="membresias-content" fxLayoutGap="10px" fxLayout.gt-sm="row" fxLayout.lt-md="column">

    <mat-card *ngFor="let membresia of membresias"  [ngClass.gt-sm]="'card-membresia'" [ngClass.lt-md]="'card-membresia-xs'">
      <div fxLayout="row" [ngStyle]="{'margin-bottom':'9px'}">
        <div>

          <h2 class="membresia-title membresia-color m-0">{{membresia.nombre}}</h2>
        </div>
        <div>
          <mat-icon class="membresia-icon">card_membership</mat-icon>
        </div>

      </div>
      <div fxLayout="column">
        <span class="price membresia-color">{{membresia.creditos}} Creditos</span>
        <span class="price membresia-color">${{membresia.precio}}</span>
        
        <span class="price-text membresia-color">Precio</span>
      </div>

      <p class="descripcion-proyecto">{{membresia.descripcion}}</p>

      
        <button mat-raised-button color="primary" [ngClass.gt-sm]="'button-membresia'" (click)="adquirir(membresia._id)"> Adquirir</button>
    </mat-card>

  </div>

</div>