.msg-membresias{
    padding: 20px !important;
    background-color: inherit;
}

html { background-color: black; }

body{
  background-color: linear-gradient(90deg, rgba(158,47,47,1) 0%, rgba(217,67,67,1) 73%) !important;

}
.descripcion-proyecto{
  height: 100px;
  overflow: hidden;
}


.card-membresia{
    display:inline-block;
    min-width: 390px;
    max-width: 390px;
    height: 350px;
    padding: 20px !important;
}

.card-membresia-xs{
    margin: auto;
    width: 90%;
    height: 350px;
    padding: 20px !important;
}

.membresia-title{
  margin-top: 0;
  font-size: 40px;
  font-weight: 400;
}

.membresia-icon{
  font-size: 50px;
  right: 40px;
  color: #0068b9;
  position: absolute;
}

.membresia-color{
  color: #0068b9;
}

.membresia-price{
  color: #2cf104;
}

.button-membresia{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.text-muted {
  color: #99abb4 !important;
}
.m-0{
  margin: 0 0;
}

.creditos{
  right: 20px;
  position: absolute;
}

.price {
  font-size: 30px;
  

}
.price-text{
  margin-top: -10px;
  font-size: 13px;
}

.membresias-content{
    overflow-x: scroll;
}::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.575);
    
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.767);
  }

