<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Nueva membresia</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="ContratoForm" [ngStyle]="{'justify-content': 'center'}">
    <div fxFlex="column">

      <div fxLayout="row">

        <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="titulo del contrato" formControlName="titulo">
          <mat-error *ngIf="ContratoForm.controls.titulo.errors?.required">El titulo es requerido</mat-error>
        
        </mat-form-field>
      </div>
      <div fxLayout="row">

        <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
          <textarea matInput placeholder="Contrato" formControlName="contrato" style="height: 100px;"></textarea>
          <mat-error *ngIf="ContratoForm.controls.contrato.errors?.required">El contrato es requerido</mat-error>
        
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
            <mat-label>Destino</mat-label>
            <mat-select formControlName="destino">
                <mat-option value="client">Cliente</mat-option>
                <mat-option value="provider">Proveedor</mat-option>
            </mat-select>
          <mat-error *ngIf="ContratoForm.controls.destino.errors?.required">El destino es requerido</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row"  fxLayoutGap="10px">
        
       
          <mat-form-field  fxFlex="80%"    class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
            <input matInput placeholder="Descripcion" formControlName="description">
            <mat-error *ngIf="ContratoForm.controls.description.errors?.required">Requerido</mat-error>
          </mat-form-field>
       
      </div>
    </div>
  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="ContratoForm.invalid">Aceptar</button>
</div>