<div
  fxLayout="row wrap"
  fxFlex="100"
  fxLayoutAlign="center"
  [ngStyle]="{ margin: 'auto' }"
>
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayout="column">
    <div fxFlex="100">
      <mat-card class="comments-card">
        <mat-card-title [ngStyle]="{ padding: '20px' }">Mis Solicitudes por Servicios</mat-card-title>

        <mat-card-content class="comments-content comment-widgets">
          <div
            class="d-flex flex-row comment-row ng-star-inserted"
            fxLayout="row"
            class="comment-row"
          >
            <div style="width: 100%;">
              <mat-card class="m-t-0">
                <mat-card-content
                  _ngcontent-hqr-c251=""
                  class="mat-card-content text-center"
                >
                  <mat-form-field class="example-full-width">
                    <mat-label>Servicios</mat-label>
                    <mat-icon matPrefix class="search-button"
                      >search</mat-icon
                    >
                    <input matInput placeholder="Servicios..." />
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
              <mat-card fxFLex="100" class="proyectos-card"  fxLayout="column" *ngFor="let servicio of servicios" >
                <mat-card-title class="proyecto-titulo" (click)="postulaciones(servicio._id)">  {{servicio.nombre}} 
                  <mat-chip-list>
            
                    <!-- <mat-chip color="warn" selected="true">abierta</mat-chip> -->
                    <mat-chip color="accent" *ngIf="servicio.status == 0" class="abierta" selected="true">En espera</mat-chip>
                    <mat-chip color="accent" *ngIf="servicio.status == 1" class="abierta" selected="true">Cotizada</mat-chip>
                    <mat-chip color="accent" *ngIf="servicio.status == 3" class="cerrada" selected="true">Finalizada</mat-chip>
                    <mat-chip color="accent" *ngIf="servicio.status == 4" class="cerrada" selected="true">Cancelada</mat-chip>
                  </mat-chip-list> </mat-card-title>
                <div fxLayout="row" fxFlex="100" >
                  <div><span class="texto-oscuro">Publicado: </span> <span class="f-z-14">{{servicio.fecha_creacion | date:'d/M/y h:mm a'}}</span> <span class="costo-proyecto" fxShow.xs="false" fxShow="true">${{servicio.min_price}} - ${{servicio.max_price}}</span></div>
                </div>
                <div fxLayout="row" fxFlex="100" >
                  <div><span class="texto-oscuro">Lugar del evento: </span> <span class="f-z-14">{{servicio.lugar_evento}}</span> </div>
                </div>
                <div fxLayout="row" fxFlex="100" >
                  <span class="costo-proyecto" fxShow.xs="true" fxShow="false">${{servicio.min_price}} - ${{servicio.max_price}}</span>
                </div>
                <p class="descripcion-proyecto" [ngClass.xs]="'m-t-25'">{{servicio.descripcion}}</p>
                <p><span class="texto-oscuro">Fecha de entrega: </span> <span>{{servicio.fecha_evento | date:'d/M/y'}}</span></p>
                <div>
    
                  <mat-chip-list>
                    
                    <mat-chip color="warn" selected="true">{{servicio.categoria.nombre}}</mat-chip>
                    <mat-chip color="accent" selected="true">{{servicio.subcategoria.nombre}}</mat-chip>
                  </mat-chip-list>
                </div>
                <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100" class="proyecto-owner" fxLayoutGap="10px">
                
               
                  <div>
                    <button mat-raised-button *ngIf="servicio.status == 0 || servicio.status == 1" class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" (click)="postulaciones(servicio._id)" >Postulaciones</button>
    
                  </div>
    
    
                </div>
            </mat-card>
            
    <button
      mat-fab
      class="haztefama-color-rojo add-button"
      matTooltip="Nuevo Servicio"
      (click)="nuevaSolicitud()"
    >
      <mat-icon
        aria-label="Example icon-button with a heart icon"
        
        >add</mat-icon
      >
    </button>
  </div>
</div>