.footer {
    bottom: 0;
    color: #67757c;
    left: 0px;
    text-align: center;
    padding: 17px 15px;
  
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #fff;
}