<h2 mat-dialog-title class="text-center margin-button-5 text-themecolor">¿Seguro desea borrar?</h2>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>