<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">
  Editar Comentario
</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form
    [formGroup]="comentarioForm"
    [ngStyle]="{ 'justify-content': 'center' }"
  >
    <mat-form-field>
      <textarea
        matInput
        placeholder="Dejanos un comentario o sugerencia..."
        formControlName="respuesta"
      ></textarea>
      <mat-error *ngIf="comentarioForm.controls.respuesta.errors?.required"
        >El comentario no puede quedar en vacio</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="margin-auto">
    Cancelar
  </button>
  <button
    mat-button
    (click)="aceptar()"
    tabindex="-1"
    class="margin-auto"
    [disabled]="comentarioForm.invalid"
  >
    Aceptar
  </button>
</div>
