<div class="registro" fxLayout="row">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%">
  </div>
  <div fxFlex.lt-md="100%"  fxFlex.gt-sm="40%"  fxLayout="column" class="registro-content">
    <div fxFlex.gt-sm="30%"  class="text-center registro-logo" >
      <img alt="homepage" src="./assets/images/logo.png" width="150px" height="150px"> 
    </div>

    <div fxFlex.gt-sm="50%" fxFlexAlign="center" >
      <div class="text-center">
        Para registrarte, indicanos si eres cliente o proveedor
      </div>


      <div fxLayout="row" style="margin-top: 20px;">
        <div fxFlex="50%" class="text-center ">
          <button class="type-button" routerLink="/registro-cliente">Cliente</button>
        </div>
        <div fxFlex="50%" class="text-center ">
          <button class="type-button" routerLink="/registro-proveedor">Proveedor</button>
        </div>
      </div>

      <hr class="hr-text" data-content="O">
      <div class="text-center">
        <a class="link" routerLink="/ingresa">Ya tengo una cuenta</a>
      </div>

    </div>
  
  </div>


</div>