<h2 mat-dialog-title class="text-center margin-button-5 success">{{data.msg}}</h2>
<div mat-dialog-content class="text-center margin-button-5">
  {{data.content}}
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
    <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto">Aceptar</button>
  </div>
</div>