<div fxLayout="row wrap" fxLayoutAlign="center" [ngStyle]="{ margin: 'auto' }">
  <!-- column -->
  <div fxFlex="100">
    <mat-card [ngStyle]="{ 'place-content': 'center' }">
      <mat-card-content fxFlex="90">
        <div fxLayout.gt-xs="row" fxLayout.xs="column">
          <div
            fxLayout.gt-xs="column"
            fxLayout.xs="row"
            fxFlex.gt-xs="50%"
            fxFlex.xs="100%"
          >
            <h3 class="text-themecolor title">Historial de pagos</h3>
          </div>
          <div
            fxLayout.gt-xs="column"
            fxLayout.xs="row"
            fxFlex.gt-xs="50%"
            fxFlex.xs="100%"
          >
            <mat-form-field
              class="buscador"
              [ngClass.gt-sm]="'buscador-small'"
              fxLayoutAlign.gt-xs="end"
            >
              <mat-label>Buscar</mat-label>
              <mat-icon matPrefix class="icon-search">search</mat-icon>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. ium"
              />
            </mat-form-field>
          </div>
        </div>
        <!--             
             nombre
             apellido
             role
             creditos
             fecha
             status
             opciones -->
        <div fxLayout.gt-xs="column" fxLayout.xs="row">
          <form [formGroup]="formFilterPagos">
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field class="input" fxLayout="column" fxFlex="49%">
                <mat-label>Desde</mat-label>
                <input
                  (click)="onSearchChange(formFilterPagos.value)"
                  matInput
                  [matDatepicker]="dp3"
                  disabled
                  formControlName="since"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dp3"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="input" fxLayout="column" fxFlex="49%">
                <mat-label>Hasta</mat-label>
                <input
                  (click)="onSearchChange(formFilterPagos.value)"
                  matInput
                  [matDatepicker]="dp4"
                  disabled
                  formControlName="until"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dp4"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" >Buscar</button> -->
            <button
              mat-raised-button
              class="haztefama-color-verde text-white"
              style="float: right;"
              (click)="toExcel()"
              [disabled]="formFilterPagos.invalid"
            >
              Exportar a Excel
            </button>
          </form>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Usuario
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.usuario.username }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="accion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Accion
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.accion }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Monto
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> ${{ element.monto }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.fecha_creacion | date: "short" }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="detalles">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Opción
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div
                fxLayout.gt-xs="column"
                fxLayout.xs="column"
                fxFlex.gt-xs="50%"
                fxFlex.xs="100%"
              >
                <button
                  mat-mini-fab
                  class="haztefama-color-naranja"
                  [ngClass.gt-xs]="'margin-buttons-row'"
                  [ngClass.xs]="'margin-buttons-col'"
                  matTooltip="Ver detalle"
                  matTooltipPosition="above"
                  (click)="info(element._id)"
                >
                  <mat-icon aria-label="Example icon-button with a heart icon"
                    >info</mat-icon
                  >
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <!-- Symbol Column -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
