.add-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.buscador-small{
    min-width: 200px;

}

.buscador{
    width: 100%;
}

.card-container{
    padding: 0px 50px !important;
}

.icon-search{
    vertical-align: bottom !important;
}

.margin-buttons-row{
    margin: 0px 5px;
}
.margin-buttons-col{
    margin: 5px 0px;
}

.rojo{
    color: #ff1744;
}

.verde{
    color: #00e676;
}