<div class="login" fxLayout="row">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%">
  </div>
  <div fxFlex.lt-md="100%"  fxFlex.gt-sm="40%" fxLayout="row" class="login-content">
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-login">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>
                <p style="font-weight: 500;">¿Tienes problemas para entrar?</p>
                <p class="f-p-text">Introduce tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta</p>
        </div>
        <form [formGroup]="recuperarForm"   >
          <mat-form-field>
            <input matInput placeholder="Correo electrónico"  formControlName="email" >
            <mat-error *ngIf="recuperarForm.controls.email.errors?.required">EL correo es requerido</mat-error>
            <mat-error *ngIf="recuperarForm.controls.email.errors?.email">EL correo es incorrecto</mat-error>
          </mat-form-field>
        
          <div fxLayout="row">
            <div fxFlex.gt-sm="50%"></div>
          
        
          </div>
          <button   mat-raised-button color="primary"  class="login-button" [disabled]="recuperarForm.invalid" (click)="recuperar()">Enviar enlace de acceso</button>
        </form>
        <div class="text-center no-account" >

          <a class="link"  routerLink="/ingresa">Volver al inicio de sesión</a>
        </div>
     
        
      </mat-card-content>        
  </mat-card>
  </div>


</div>