        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div *ngIf='usuario'>
<button [matMenuTriggerFor]="notifications" mat-icon-button class="m-r-5" [ngStyle]="{'margin-right':'20px'}"> <mat-icon matBadge={{nuevos}} matBadgePosition="above after">notifications</mat-icon> </button>
<mat-menu #notifications="matMenu" class="mymegamenu" style="width: 300px !important;">
    <div class="notification-header" fxLayout="row">
         Notificationes
     
    </div>
    <mat-divider></mat-divider>
   <div class="notificaciones-list">
    <div mat-menu-item *ngFor="let notificacion of notificaciones" (click)="verNotificacion(notificacion)"  [ngClass]="{'no-visto': !notificacion.visto}">
       
        <span matBadge="" matBadgePosition="above before"> {{notificacion.mensaje}}</span>
    </div>
  
   </div>
   <mat-divider></mat-divider>
    <a mat-menu-item  [ngStyle]="{'text-align':'center'}" routerLink="/proveedor/notificaciones">
        Todas las notificaciones
    </a>
</mat-menu>


    <button  [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img  src={{usuario.url}} alt="user" class="profile-pic"> </button>
    <mat-menu #profile="matMenu" class="mymegamenu" >
        <div class="profile-header" fxLayout="row">
            <div  fxFlex="35">
                <img src={{usuario.url}} alt="" width="70px" height="70px" class="profile-img">
            </div>
            <div fxFlex="65">
                <div fxLayout="column" *ngIf="usuario">
                    <h4 fxLayout="row" fxFlex="100" class="profile-name">{{usuario.nombre}} {{usuario.apellido}}</h4>
                    <p fxLayout="row" fxFlex="100" class="profile-email">{{usuario.email}}</p>
                </div>
            </div>
           
         
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/proveedor/perfil">
            <mat-icon>person</mat-icon>Perfil</button>
        <!-- <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button> -->
        <button mat-menu-item routerLink="/proveedor/balance">
            <mat-icon>account_balance_wallet</mat-icon> Balance </button>
        <button mat-menu-item routerLink="/proveedor/notificaciones">
            <mat-icon matBadge={{nuevos}} matBadgePosition="above after">notifications</mat-icon> Notificationes </button>
            <mat-divider></mat-divider>
        <button mat-menu-item (click)="salir()">
            <mat-icon>exit_to_app</mat-icon> Salir </button>
    </mat-menu>
    
</div>


