.notification-header{
    min-width: 300px;
    height: 51px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
}

.mymegamenu{
  width: 300px !important;
  max-width: 300px !important;
}

::ng-deep .mat-menu-panel{
  width: 300px !important;
  max-width: 300px !important;
}


.notificaciones-list{
  min-width: 300px;
    height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.527);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.575);
  }

  .no-visto{
    background: #edf2fa;
  }