<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Editar categoria</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="editCategoriaForm" [ngStyle]="{'justify-content': 'center'}">
    <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center'}">
      <input matInput placeholder="nombre de categoria" formControlName="nombre">
      <mat-error *ngIf="editCategoriaForm.controls.nombre.errors?.required">El nombre es requerido</mat-error>
    
    </mat-form-field>
   
  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="editCategoriaForm.invalid">Aceptar</button>
</div>