mat-nav-list.list-horizontal {
   
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
      .mat-list-item-content{
        padding: 0px 5px;
       
      }
    }
  }

  .items{
    font-size: 12px !important;
    font-weight: 500 !important;
  
  }