<div fxLayout="row wrap"   fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
  <!-- column -->    
  <div fxFlex="100">
    <mat-card [ngStyle]="{'place-content': 'center'}">

      <mat-card-content>
        <div fxLayout.gt-xs="row"  fxLayout.xs="column" >
          <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
            <h3 class="text-themecolor title">Acciones de usuarios</h3>
          </div>
        </div>
        <div fxLayout.gt-xs="column" fxLayout.xs="row" >
          <form [formGroup]="filterForm">
            <mat-form-field class="input text-center">
              <mat-label>Auditar</mat-label>
              <mat-icon matPrefix class="search-button">search</mat-icon>
              <input matInput placeholder="Auditar" formControlName="query">
            </mat-form-field>
            <div fxLayout="row"  fxLayoutGap="10px">
              <mat-form-field class="input" fxLayout="column" fxFlex="49%">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="dp3" disabled formControlName="since">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="input" fxLayout="column" fxFlex="49%">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="dp4" disabled formControlName="until">
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" [disabled]="filterForm.invalid" (click)="onSearchChange(filterForm.value)">Buscar</button>
            <button mat-raised-button class="haztefama-color-verde text-white" style="float: right;" [ngClass.gt-xs]="'boton-proyecto'" [disabled]="filterForm.invalid" (click)="toExcel()">Exportar a Excel</button>
          </form>
        </div>
        <mat-table [dataSource]="dataSource" matSort >
          <ng-container matColumnDef="Usuario">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Usuario </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.usuario.username}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Accion">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Accion </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.accion}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha | date:'short'}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

</div>
