<div fxLayout="row wrap"   fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
   <!-- column -->    
    <div fxFlex="100">
        <mat-card [ngStyle]="{'place-content': 'center'}">
          
            <mat-card-content fxFlex="90" >
              <div fxLayout.gt-xs="row"  fxLayout.xs="column" >
                <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
                  <h3 class="text-themecolor title">Categorias</h3>

                </div>
                <div fxLayout.gt-xs="column" fxLayout.xs="row"  fxFlex.gt-xs="50%" fxFlex.xs="100%">

                  <mat-form-field class="buscador" [ngClass.gt-sm]="'buscador-small'" fxLayoutAlign.gt-xs="end">
  
                    <mat-label>Buscar</mat-label>
                    <mat-icon matPrefix class="icon-search" >search</mat-icon>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                  </mat-form-field>
                </div>
              </div>
             

              <mat-table [dataSource]="dataSource" matSort >
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="status" >
                  <mat-header-cell *matHeaderCellDef  mat-sort-header  [ngStyle]="{'place-content':'center'}"> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngStyle]="{'place-content':'center'}">
                    <mat-slide-toggle [checked]="element.status" (click)="cambiarStatus(element._id)"></mat-slide-toggle>
                  </mat-cell>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="opciones">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header [ngStyle]="{'place-content':'center'}"> Opciones </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngStyle]="{'place-content':'center'}" >
                    <div  fxLayout.gt-xs="row"  fxLayout.xs="column">
                      <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                        <button mat-mini-fab class="haztefama-color-verde" [ngClass.gt-xs]="'margin-buttons-row'" [ngClass.xs]="'margin-buttons-col'"    matTooltip="Crear subcategoria"  matTooltipPosition="above" (click)="subcategorias(element)" >
                          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        </button>                       
                      </div>
                      <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                        <button mat-mini-fab class="haztefama-color-naranja" [ngClass.gt-xs]="'margin-buttons-row'" [ngClass.xs]="'margin-buttons-col'" matTooltip="Editar categoria"  matTooltipPosition="above" (click)="editarCategoria(element)">
                          <mat-icon aria-label="Example icon-button with a heart icon" >edit</mat-icon>
                        </button>                      
                      </div>
                      <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%"  >                  
                        <button mat-mini-fab class="haztefama-color-rojo" matTooltip="Borrar categoria"  [ngClass.gt-xs]="'margin-buttons-row'" [ngClass.xs]="'margin-buttons-col'" matTooltipPosition="above" (click)="eliminarCategoria(element._id)">
                          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                   
                  </mat-cell>
                
                </ng-container>
              
                <!-- Symbol Column -->
               
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
     
</div>

<button mat-fab class="haztefama-color-verde add-button"  matTooltip="Crear categoria" (click)="nuevaCategoria()">
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>