<div fxLayout="row wrap" fxFlex="100" [ngStyle]="{'margin':'auto'}" class="max-w">
  <div fxLayout="row wrap" fxFlex="100"  fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
    <!-- column -->    
     <div fxFlex="100">
         <mat-card class="comments-card">
             <mat-card-title>Mis comentarios</mat-card-title>
             <mat-card-subtitle >Últimos comentarios realizados a Haztefama</mat-card-subtitle>
            
  
             <mat-card-content   class="comments-content comment-widgets">
      <div class="d-flex flex-row comment-row ng-star-inserted" fxLayout="row" class="comment-row" *ngFor="let comentario of comentarios">
        <div class="p-2">
            <span class="round" style="background: inherit !important;">
              <img
                  
                  alt="user"
                  width="50"
                  src="{{url}}{{comentario.usuario.foto}}">
            </span>
          </div>
          <div style="width: 90%;" class="comment-text" >
              <h5 class="m-0" >{{comentario.usuario.nombre}} {{comentario.usuario.apellido}}</h5>
              <p class="m-b-5">{{comentario.comentario}}</p>
          
              <mat-card
              class="comment-row-admin card-comment-admin"
              *ngIf="!comentario.respuesta_borrado"
            >
            <!-- <mat-card-title
            ><small class="pull-right d-flex align-items-center p-1 m-3">
               Administrador
            </small></mat-card-title> -->

              <div class="d-flex align-items-center ng-star-inserted" fxLayout="row">
                <div style="padding-top: 10px;">
                  <span class="round" style="background: inherit !important;">
                    <img
                      alt="admin"
                      width="30"
                      src="{{ url }}{{ comentario.respuesta_comentario.user.foto }}"
                    />
                  </span>
                </div>
                <div style="width: 90%; padding: 10px;" class="comment-text">
                  <h5 class="m-0 p-0 d-flex align-items-center">
                    {{ comentario.respuesta_comentario.user.nombre}} {{ comentario.respuesta_comentario.user.apellido }} <mat-icon style="color:#fddb3a;">star</mat-icon>
                  </h5>
                </div>
              </div>
              <mat-card-content>
                <p class="m-b-5">{{ comentario.respuesta_comentario.respuesta }}</p>

                <mat-card-actions>
                  <span class="text-muted">{{
                    comentario.respuesta_comentario.fecha_creacion | date: "short"
                  }}</span>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
            
              <div >
                  <span class="text-muted pull-right" >{{comentario.fecha_creacion  | date:'short'}}</span>
                  <span class="label label-info" [ngClass]="(comentario.visto)?'label-light-success':'label-info'" >{{(comentario.visto)?'Visto':'Pendiente'}}</span>
                  <span class="icons">
                    <mat-icon class="icon-style check" (click)="editar(comentario)" *ngIf="!comentario.visto" matTooltip="Editar">edit</mat-icon>
                    <mat-icon class="icon-style delete" (click)="delete(comentario._id)" *ngIf="!comentario.visto" matTooltip="Eliminar">delete</mat-icon>
                  </span>
              
              </div>
          </div>
      </div>
             
             </mat-card-content>
             <button mat-fab class="haztefama-color-rojo add-button"  matTooltip="Nuevo comentario" (click)="nuevoComentario()">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
             </button>
         </mat-card>
       
     </div>
    
  </div>
  

  
 </div>


 
 