<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Editar Solicitud {{data.nombre}}</h1> 
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="solicitudesForm" [ngStyle]="{'justify-content': 'center'}">
    <div fxFlex="column">
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput placeholder="Titulo de la solicitud" formControlName="nombre">
                <mat-error *ngIf="solicitudesForm.controls.nombre.errors?.required">El Titulo es requerido</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput placeholder="Descripcion de la Solicitud" formControlName="descripcion">
                <mat-error *ngIf="solicitudesForm.controls.descripcion.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput type="number" placeholder="Monto Maximo" formControlName="max_price">
                <mat-error *ngIf="solicitudesForm.controls.descripcion.errors?.required">Requerido</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput type="number" placeholder="Monto minimo" formControlName="min_price">
                <mat-error *ngIf="solicitudesForm.controls.descripcion.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <mat-label>Categorias</mat-label>
                <mat-select formControlName="categoria">
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.code}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="80%" class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <mat-label>Subcategoria</mat-label>
                <mat-select formControlName="subcategoria">
                    <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria._id">{{subcategoria.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field
            fxFlex="80%"
            class="input"
            [ngStyle]="{ 'text-align': 'center', margin: '0 auto' }"
            >
                <input matInput [matDatepicker]="picker" formControlName="fecha_evento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                    *ngIf="solicitudesForm.controls.fecha_evento.errors?.required"
                    >Requerido</mat-error
                >
                </mat-form-field>
                <mat-form-field
                fxFlex="80%"
                class="input"
                [ngStyle]="{ 'text-align': 'center', margin: '0 auto' }"
                >
                <input
                matInput
                placeholder="Lugar del Evento"
                formControlName="lugar_evento"
                />
                <mat-error
                    *ngIf="solicitudesForm.controls.lugar_evento.errors?.required"
                    >Requerido</mat-error
                >
            </mat-form-field>
        </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="solicitudesForm.invalid" (click)="aceptar()">Aceptar</button>
</div>