<h1 mat-dialog-title class="text-center margin-button-5 success">Cambio realizado!</h1>
<div mat-dialog-content class="text-center margin-button-5">
  Su perfil se modifico con éxito!
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>