.chat-div{
    height: 70vh !important;
}

.chat{
    height: 100% !important;
}

.chat-header{
    height: 10% !important;
    width: 100%;
}
.chat-content{
    overflow-y: auto;
}::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.527);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.575);
  }



.m-r-10 {
    margin-right: 10px;
}

.chat-right-panel .top-avatar img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.img-circle {
    border-radius: 100%;
    width: 50px;
height: 50px;
}

.chat-toolbar{
    flex-direction: row; box-sizing: border-box; display: flex;
    padding: 14px 17px !important;
}

.close{
    cursor: pointer;
    font-size: 17px;
    margin-left: 9px;
    color: #d94343;
}

.document{
    cursor: pointer;
}


.chat-toolbar-content{
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex; 
    place-content: center; 
    align-items: center; 
    flex: 1 1 100%; 
    max-width: 100%;
}

.chat-list {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: flex;
}

.chat-block-m {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px;
    background: #f2f4f8;
    border-radius: 6px;
}

.chat-date {
    font-size: 12px;
    color: #99abb4;
}

.chat-block-m img {
    vertical-align: middle;
    margin-right: 10px;
}

.chat-list.even {
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.bg-light-info {
    background-color: #e3f3fd;
}

.chat-footer {
    padding: 10px 15px!important;
    border-top: 1px solid hsla(210,8%,51%,.13);
    bottom: 0;
    position: absolute;
    width: 100%;
}

.input-msg{
    max-height: 80px !important;
}

.send-button{
    top: 0;
    bottom: 0;
    margin-left: 2px !important;
    margin: auto;
    margin-right: 2px !important;
}
.edit, .delete{
    cursor:pointer;
    margin-left: 5px;
    color: #99abb4;
    
    
}
.edit:hover{
    color: #221f3b;
}
.delete:hover{
    color: #f44336 ;
}