<div fxLayout="row wrap" fxLayoutAlign="center" [ngStyle]="{ margin: 'auto' }">
  <!-- column -->
  <div fxFlex="100">
    <mat-card class="comments-card">
      <mat-card-title>Comentarios recientes</mat-card-title>
      <mat-card-subtitle
        >Últimos comentarios de los usuarios sobre Haztefama</mat-card-subtitle
      >

      <mat-slide-toggle [(ngModel)]="pendientes" (change)="getComentarios()"
        >Pendientes</mat-slide-toggle
      >

      <mat-card-content class="comments-content comment-widgets">
        <div
          class="d-flex flex-row comment-row ng-star-inserted"
          fxLayout="row"
          class="comment-row"
          *ngFor="let comentario of comentarios"
        >
          <div class="p-2">
            <span class="round" style="background: inherit !important;">
              <img
                alt="user"
                width="50"
                src="{{ url }}{{ comentario.usuario.foto }}"
              />
            </span>
          </div>
          <div style="width: 90%;" class="comment-text">
            <h5 class="m-0">
              {{ comentario.usuario.nombre }} {{ comentario.usuario.apellido }}
              <mat-icon (click)="getUserComment(comentario.usuario)" class="icon-style view-user" matTooltip="Ver usuario"
                >remove_red_eye</mat-icon
              >
            </h5>
            <p class="m-b-5">{{ comentario.comentario }}</p>
            
            <mat-card
              class="comment-row-admin card-comment-admin"
              *ngIf="!comentario.respuesta_borrado"
            >
              <!-- <mat-card-title
                ><h5 class="h4-comment-admin">
                  <mat-icon>star</mat-icon> Administrador
                </h5></mat-card-title
              > -->

              <div class="card-reply-comment ng-star-inserted" fxLayout="row">
                <div style="padding-top: 10px;">
                  <span class="round" style="background: inherit !important;">
                    <img
                      alt="admin"
                      width="30"
                      src="{{ url }}{{ comentario.respuesta_comentario.user.foto }}"
                    />
                  </span>
                </div>
                <div style="width: 90%; padding: 10px;" class="comment-text">
                  <h5 class="m-0 p-0">
                    {{ comentario.respuesta_comentario.user.nombre }} {{ comentario.respuesta_comentario.user.apellido }}
                  </h5>
                </div>
              </div>
              <mat-card-content>
                <p class="m-b-5">{{ comentario.respuesta_comentario.respuesta }}</p>

                <mat-card-actions>
                  <span class="text-muted">{{
                    comentario.respuesta_comentario.fecha_creacion | date: "short"
                  }}</span>
                  <span class="text-muted pull-right icons-respond-comment">
                    <mat-icon
                                       
                      class="icon-style edit"
                      matTooltip="Editar respuesta"
                       (click)="editComment(comentario)"
                       *ngIf="comentario.respuesta_comentario.user._id == usuario._id"
                      >edit</mat-icon
                    >
                    <mat-icon
                      (click)="deleteRespond(comentario._id)"
                      *ngIf="comentario.respuesta_comentario.user._id == usuario._id"
                      class="icon-style delete"
                      matTooltip="Borrar respuesta"
                      >delete</mat-icon
                    ></span>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          
            <div>
              <span class="text-muted pull-right">{{
                comentario.fecha_creacion | date: "short"
              }}</span>
              <span
                class="label label-info"
                [ngClass]="
                  comentario.visto ? 'label-light-success' : 'label-info'
                "
                >{{ comentario.visto ? "Visto" : "Pendiente" }}</span
              >
              <span class="icons">
                <mat-icon
                  class="icon-style check"
                  (click)="check(comentario._id)"
                  *ngIf="!comentario.visto"
                  matTooltip="Marcar como visto"
                  >check</mat-icon
                >
                <mat-icon
                  class="icon-style delete"
                  (click)="delete(comentario._id)"
                  matTooltip="Marcar como inapropiado (borrar)"
                  >delete</mat-icon
                >
                <mat-icon
                  class="icon-style respond"
                  matTooltip="Responder comentario"
                  (click)="replyComment(comentario._id)"
                  *ngIf="comentario.respuesta_borrado"
                  >message</mat-icon
                >
                
              </span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
