.notification-header{
    min-width: 270px;
    height: 51px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
}

.notificaciones-list{
    min-width: 270px;
    height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.527);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.575);
  }