<mat-card>
    <mat-card-content>
        <div
        fxLayout.gt-xs="column"
        fxLayout.xs="row"
        fxFlex.gt-xs="50%"
        fxFlex.xs="100%"
      >
        <h3 class="text-themecolor title">Detalle de pago</h3>
        <div>
          <mat-card>
            <mat-card-content class="d-block">
              <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                <div fxLayout="column">
                  <small fxLayout="row" class="text-muted " fxFlex="50">Acción</small> 
                  <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.accion}}</h6>
                </div>
          
                  
              </div>
              <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                <div fxLayout="column">
                  <small fxLayout="row" class="text-muted " fxFlex="50">Monto</small> 
                  <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.monto}}$</h6>
                </div>
          
                  
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="oh text-center little-profile">
            <mat-card-content>
                <div >
                    <img  src={{url}}{{historial.usuario.foto}} width="100" alt="user" class="img-circle">
                </div>
                <h3 class="m-b-0"   >{{historial.usuario.nombre}} {{historial.usuario.apellido}}</h3>
                <h6 class="m-t-0 ">{{formatRole(historial.usuario.role)}}</h6>
              <mat-divider ></mat-divider>
        
                <div fxLayout="column" fxLayoutWrap="wrap" class="m-t-30"  >
                    <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                      <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Correo electrónico</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.usuario.email}}</h6>
                      </div>
                
                        
                    </div>
                    <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                      <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Usuario</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.usuario.username}}</h6>
                      </div>  
                    </div>
                    <div *ngIf="historial.usuario.role != 'admin'" fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                      <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Creditos</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.usuario.creditos}}</h6>
                      </div>  
                    </div>
  
                    <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                      <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Teléfono</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.usuario.telefono}}</h6>
                      </div>
                
                    </div>
                    <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                      <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Dirección</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{historial.usuario.direccion}}</h6>
                      
                      </div>
                
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
      </div>

    </mat-card-content>
</mat-card>
