<div fxLayout="row wrap"   fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
  <!-- column -->    
   <div fxFlex="100">
       <mat-card [ngStyle]="{'place-content': 'center'}">
         
           <mat-card-content fxFlex="90" >
             <div fxLayout.gt-xs="row"  fxLayout.xs="column" >
               <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
                 <h3 class="text-themecolor title">Usuarios</h3>

               </div>
               <div fxLayout.gt-xs="column" fxLayout.xs="row"  fxFlex.gt-xs="50%" fxFlex.xs="100%">

                 <mat-form-field class="buscador" [ngClass.gt-sm]="'buscador-small'" fxLayoutAlign.gt-xs="end">
 
                   <mat-label>Buscar</mat-label>
                   <mat-icon matPrefix class="icon-search" >search</mat-icon>
                   <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                 </mat-form-field>
               </div>
             </div>
<!--             
             nombre
             apellido
             role
             creditos
             fecha
             status
             opciones -->
             <mat-table [dataSource]="dataSource" matSort >
               <!-- Position Column -->
               <ng-container matColumnDef="nombre">
                 <mat-header-cell *matHeaderCellDef  mat-sort-header> Usuario </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
               </ng-container>
               <ng-container matColumnDef="apellido">
                 <mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre y apellido </mat-header-cell>
                 <mat-cell *matCellDef="let element">{{element.nombre}} {{element.apellido}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="role">
                 <mat-header-cell *matHeaderCellDef  mat-sort-header> Role </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{formatRole(element.role)}} </mat-cell>
               </ng-container>

             
               <ng-container matColumnDef="fecha">
                 <mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.fechaCreacion | date:'short'}} </mat-cell>
               </ng-container>
             
             
               <!-- Name Column -->
               <ng-container matColumnDef="status" >
                 <mat-header-cell *matHeaderCellDef  mat-sort-header  [ngStyle]="{'place-content':'center'}"> Estado </mat-header-cell>
                 <mat-cell *matCellDef="let element" [ngStyle]="{'place-content':'center'}">
                   <mat-slide-toggle [checked]="element.status" (click)="cambiarStatus(element._id)"></mat-slide-toggle>
                 </mat-cell>
               </ng-container>
               <ng-container matColumnDef="verificado" >
                 <mat-header-cell *matHeaderCellDef  mat-sort-header  [ngStyle]="{'place-content':'center'}"> Verificado </mat-header-cell>
                 <mat-cell *matCellDef="let element" [ngStyle]="{'place-content':'center'}">
                   <mat-icon [ngClass]="(element.verificado)?'verde':'rojo'" >{{element.verificado ?'checked':'close'}}</mat-icon>
                 </mat-cell>
               </ng-container>
             
               <!-- Weight Column -->
               <ng-container matColumnDef="opciones">
                 <mat-header-cell *matHeaderCellDef  mat-sort-header [ngStyle]="{'place-content':'center'}"> Opciones </mat-header-cell>
                 <mat-cell *matCellDef="let element" [ngStyle]="{'place-content':'center'}" >
                   <div  fxLayout.gt-xs="row"  fxLayout.xs="column">
                     <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                       <button mat-mini-fab class="haztefama-color-azul" [ngClass.gt-xs]="'margin-buttons-row'" [ngClass.xs]="'margin-buttons-col'" matTooltip="Consultar usuario"  matTooltipPosition="above" (click)="consultar(element._id)">
                         <mat-icon aria-label="Example icon-button with a heart icon" >info</mat-icon>
                       </button>                      
                     </div>
                     <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%"  >                  
                       <button mat-mini-fab class="haztefama-color-rojo" matTooltip="Borrar usuario"  [ngClass.gt-xs]="'margin-buttons-row'" [ngClass.xs]="'margin-buttons-col'" matTooltipPosition="above" (click)="eliminar(element._id)">
                         <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                       </button>
                     </div>
                   </div>
                  
                 </mat-cell>
               
               </ng-container>
             
               <!-- Symbol Column -->
              
             
               <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             </mat-table>
             <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           </mat-card-content>
       </mat-card>
   </div>
    
</div>

<button mat-fab class="haztefama-color-verde add-button"  matTooltip="Nuevo administrador" routerLink="/admin/usuarios/agregar">
 <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>