<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 
    
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar color="primary" class="topbar telative haztefama-color">
        <div fxFlex="100" class="max-w margin-auto">

            <!-- ============================================================== -->
            <!-- Logo - style you can find in header.scss -->
            <!-- ============================================================== -->
            <div class="navbar-header" [ngClass.gt-xs]="'logo-center'" style="top: 6px;" >
                <a class="navbar-brand" routerLink="/cliente">
                    <!-- Logo icon -->
                    <b [ngClass.sm]="'margin-auto'">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="assets/images/logo.png" alt="homepage" width="50px" height="50px" class="haztefama-logo">
        
                    </b>
               
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span fxShow="false" fxShow.gt-sm style="color: white;" style="color: white;font-size: 25px;font-weight: 600;">
                     <!-- dark Logo text -->
                        HAZTEFAMA
                    </span> </a>
            </div>


            <!-- ============================================================== -->
            <!-- sidebar toggle -->
            <!-- ============================================================== -->
            <div >
    
                <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" fxShow.lt-sm="true" fxShow="false">
                    <mat-icon>menu</mat-icon>
                </button>
                
                <button mat-icon-button  value="sidebarclosed" fxShow.lt-sm="false" fxShow="true">
                    <mat-icon>search</mat-icon>
                </button>
                
                <button mat-icon-button  value="sidebarclosed">
                    <mat-icon>widgets</mat-icon>
                </button>
            </div>
    
            <span fxFlex></span>
            <!-- ============================================================== -->
            <!-- app header component - style you can find in header.scss / header.component.ts-->
            <!-- ============================================================== -->
            <cliente-header></cliente-header>
        </div>
    </mat-toolbar>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
       
        <mat-sidenav #snav id="snav" fxShow.lt-sm="true" fxShow="false" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="false" [disableClose]="mobileQuery.matches"  >
            
                <cliente-sidebar></cliente-sidebar>
               
            
        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">
            <div id="snav" class="dark-sidebar pl-xs"    >
            
                <cliente-sidebar-horizontal class="sidebar-horizontal"  fxShow.lt-sm="false" fxShow="true" ></cliente-sidebar-horizontal>
               
            
        </div>
     
                <cliente-breadcrumb></cliente-breadcrumb>
                 
                <div class="page-content"  style="min-height: 85vh !important;">
                 
                        <router-outlet><app-spinner></app-spinner></router-outlet>
                    
                </div>    
                <footer></footer>
               
        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
   
    </mat-sidenav-container>
   
</div>