.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

.text-muted {
    color: #99abb4 !important;
}

.perfil-content{
    padding: 20px;
}

.center{
    margin: auto;
}

.save-perfil{
    text-align: right;
    padding: 0px 20px;

}
.save-seguridad{
    text-align: right;
    width: 100%;
    padding: 0px 20px;

}

.save-seguridad button[disabled]{
    background-color: #99abb4;
}


.text-white{
    color: white;
}
.google-map-container{
    position: relative !important;
}
