

<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto','margin-top':'-20px'}">

  <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh text-center little-profile m-t-0" [ngClass.xs]="'width-100 margin-0'">
          <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <div class="pro-img">
                  <img *ngIf="usuario" src="{{url}}{{usuario.foto}}" width="100" alt="user" class="img-circle">
              </div>
              <h3 class="m-b-0 my-profile"   *ngIf="usuario">{{usuario.nombre}} {{usuario.apellido}}</h3>
              <h6 class="m-t-0 m-b-5"> <span class="author-rate">
                <mat-icon class="star star-fill">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
              </span></h6>
              <button class="m-b-5 haztefama-color-rojo-gradient text-white" mat-raised-button *ngIf="cotizacionStatus == 'recibida'" (click)="pagar(cotizacion._id)">contratar</button>              
            <mat-divider ></mat-divider>
      
              <div fxLayout="column" fxLayoutWrap="wrap" class="m-t-30"  >
                  <span *ngIf="cotizacionStatus == 'ninguna' ">Aun no has recibido una cotización</span>
                  <span *ngIf="cotizacionStatus == 'aceptada' ">Cotizacion Aceptada</span>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4" *ngIf="cotizacionStatus == 'recibida' || cotizacionStatus == 'aceptada' "> 
                  <div fxLayout="column">
                        <small fxLayout="row" class="text-muted " fxFlex="50">Motivo</small> 
                        <h6 class="m-0" fxLayout="row" fxFlex="50">{{cotizacion.motivo}}</h6>
                      </div>
                    </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4" *ngIf="cotizacionStatus == 'recibida' || cotizacionStatus == 'aceptada' ">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Cotización actual</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{cotizacion.monto | number: '1.1-2'}}$</h6>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4" *ngIf="cotizacionStatus == 'recibida' || cotizacionStatus == 'aceptada' ">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Porcentaje Pagado</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{cotizacion.porcentajeCancelado}}%</h6>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4" *ngIf="cotizacionStatus == 'recibida' || cotizacionStatus == 'aceptada' ">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Monto Pagado</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{cotizacion.montoPagado | number: '1.1-2'}}$</h6>
                    </div>
                  </div>
                  <div>
                    <button class="m-b-5 haztefama-color-rojo-gradient text-white" style="width: 70%;" mat-raised-button *ngIf="cotizacionStatus == 'recibida'" (click)="rechazar(cotizacion._id)">Rechazar cotizacion</button>

                  </div>

              </div>
          </mat-card-content>
      </mat-card>

     
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div  fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlex="100" fxLayout="column">


    
      <div  fxFlex="100" class="chat-div">
 
          <mat-card fxLayout="column" class="chat  m-t-0" [ngClass.xs]="'m-0'">
           <mat-toolbar class="mat-toolbar  no-shadow chat-right-panel mat-warn mat-toolbar-single-row haztefama-color chat-toolbar" >
           <div fxlayout="row" fxflex="100" fxlayoutalign="center center" class="chat-toolbar-content" >
               
               <span  class="top-avatar m-r-10"><img class="img-circle" src="{{url}}{{usuario.foto}}" *ngIf="usuario"></span>
                   <div style="flex: 1 1 0%; box-sizing: border-box;">
                       <div  class="font-14" *ngIf="usuario">{{usuario.nombre}} {{usuario.apellido}}</div>
                   </div>
               
                   
           </div>
           </mat-toolbar>     
       
       
       <mat-card-content
           _ngcontent-eam-c283=""
           class="mat-card-content chat-middle-box chat-content" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          
                       <div *ngFor="let mensaje of mensajes">
                          <div  class="chat-list odd ng-star-inserted"  *ngIf="mensaje.usuario._id != myId">
                              <div  class="chat-message" *ngIf="mensaje.tipo == 'mensaje'">
                                  <div _ngcontent-eam-c283="" class="chat-block-m"  matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}">
                                      <span _ngcontent-eam-c283="">
                                          <img
                                              _ngcontent-eam-c283=""
                                              width="40"
                                              class="img-circle"
                                              src="{{url}}{{mensaje.usuario.foto}}"></span>
                                          <span _ngcontent-eam-c283="" > {{mensaje.mensaje}}</span>
                                      </div>
                                      <span _ngcontent-eam-c283="" class="chat-date"></span>
                                  </div>
                              <div  class="chat-message" *ngIf="mensaje.tipo == 'imagen'">
                                  <div  class="" >
                                      <img src="{{url}}{{mensaje.imagen}}" alt="" width="200px" height="200px" style="border-radius:8px;cursor: pointer;" (click)="openImage(mensaje.imagen)"  matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}">
                                   </div>
                                  <div _ngcontent-eam-c283="" class="chat-block-m"  *ngIf="mensaje.mensaje != ''" matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}">
                                     
                                      <span _ngcontent-eam-c283="" >
                                          <img
                                              _ngcontent-eam-c283=""
                                              width="40"
                                              class="img-circle"
                                              src="{{url}}{{mensaje.usuario.foto}}"  ></span>
                                              
                                          <span _ngcontent-eam-c283=""  > {{mensaje.mensaje}}</span>
                                      </div>
                                  </div>
                              <div  class="chat-message" *ngIf="mensaje.tipo == 'documento'">
                                <div  class="m-t-5 m-b-5" matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}"  >
                                  <span class="document" (click)="download(mensaje.documento)"><mat-icon style="vertical-align: middle;">attach_file</mat-icon> {{nameOfDocument(mensaje.documento)}}</span>
                               </div>
                                  <div _ngcontent-eam-c283="" class="chat-block-m"  *ngIf="mensaje.mensaje != ''" matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}">
                                     
                                      <span _ngcontent-eam-c283="" >
                                          <img
                                              _ngcontent-eam-c283=""
                                              width="40"
                                              class="img-circle"
                                              src="{{url}}{{mensaje.usuario.foto}}"  ></span>
                                              
                                          <span _ngcontent-eam-c283=""  > {{mensaje.mensaje}}</span>
                                      </div>
                                  </div>
                                
                                  
                              </div>
 
                              <div *ngIf="mensaje.usuario._id == myId" class="chat-list even ng-star-inserted" >
                                 <div  class="chat-message" *ngIf="mensaje.tipo =='mensaje'"  matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}" matTooltipPosition="after">
                                   
                                     <div  class="chat-block-m bg-light-info"  >
                                         {{mensaje.mensaje}}
                                      </div>
                                     
                                     <span  class="chat-date"></span>
                                 </div>
                                 <div  class="chat-message" *ngIf="mensaje.tipo =='imagen'">
                                   
                                  <div  class="" >
                                      <img src="{{url}}{{mensaje.imagen}}" alt="" width="200px" height="200px" style="border-radius:8px;cursor: pointer;" (click)="openImage(mensaje.imagen)" matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}">
                                   </div>
                                     <div  class="chat-block-m bg-light-info"  matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}"  *ngIf="mensaje.mensaje != ''">
                                         {{mensaje.mensaje}}
                                      </div>
                                     
                                 </div>
                                 <div  class="chat-message" *ngIf="mensaje.tipo =='documento'">
                                   
                                  <div  class="m-t-5 m-b-5" matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}"  >
                                      <span class="document" (click)="download(mensaje.documento)"><mat-icon style="vertical-align: middle;">attach_file</mat-icon> {{nameOfDocument(mensaje.documento)}}</span>
                                   </div>
                                     <div  class="chat-block-m bg-light-info"  matTooltip="{{mensaje.fecha_creacion | date:'d/M/y h:mm a'}}"  *ngIf="mensaje.mensaje != ''">
                                         {{mensaje.mensaje}}
                                      </div>
                                     
                                 </div>
                             </div>
                       </div>
                      
                           <!---->
                           <!---->
                           <!---->
                           <!---->
                       </mat-card-content>
                       <mat-card-actions class="chat-footer">
                           <form [formGroup]="mensajeForm">
                              <div *ngIf="documentUploads.length > 0">
                                  <div direction="left" class="clearfix" fxLayout="row">
                                      <div class="_ohe lfloat">
                                          <mat-icon>attach_file</mat-icon>
                                      </div>
                                      <div class="">
                                          <div class="_42ef _8u">
                                              <div class="__6j _2-x5">
                              
                                          <div class="__6l _2-x4">{{documentUploads[0].split('@')[1]}}</div>
                                        
                                      </div>
                                     
                                    
                                  </div>
                              
                              </div>
                              <div>
                                  <mat-icon class="close" (click)="close()">close</mat-icon>
                              </div>
                          </div>
                              </div>
                           <div *ngIf="imagenUploads.length > 0" fxLayout="row">
                               <img src="{{url}}{{imagenUploads[0]}}" alt="imagen upload" width="100px" height="100px" style="border-radius:8px;">
                               <div>
                                  <mat-icon class="close" (click)="close()">close</mat-icon>
                              </div>
                              </div>
                           <div fxLayout="row"> 

                               
                                  <input  hidden type="file" #uploader accept="image/*" (change)="subirImagen($event)"/>
                                  <button class="send-button" mat-icon-button [ngStyle]="{'margin-left':'-20px'}" (click)="uploader.click()"><mat-icon>add_photo_alternate</mat-icon></button>
                                  <input  hidden type="file" #uploaderFile  (change)="subirArchivo($event)"/>
                                  <button class="send-button" mat-icon-button [ngStyle]="{'margin-left':'-20px'}" (click)="uploaderFile.click()"><mat-icon>attach_file</mat-icon></button>
                                         
                             
                               <mat-form-field>
                                   <textarea matInput placeholder="Enviar un mensaje" class="input-msg" cdkTextareaAutosize formControlName="mensaje"></textarea>
                                   
                               </mat-form-field>
                               <button mat-fab class="send-button haztefama-color" (click)="messageValid()"><mat-icon>send</mat-icon></button>
                           </div>
                          </form>
                       </mat-card-actions>
          </mat-card>
         </div>
    
  </div>
 </div>
 



