<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Editar subcategoria</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="editarSubcategoriaForm"  >
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex="70%" [ngStyle]="{'justify-content': 'center'}">
        <mat-form-field    class="input" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="Nombre" formControlName="nombre">
          <mat-error *ngIf="editarSubcategoriaForm.controls.nombre.errors?.required">El nombre es requerido</mat-error>
        
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex="30%" [ngStyle]="{'justify-content': 'center'}">
        <mat-form-field    class="input" [ngStyle]="{'text-align': 'center'}">
          <input matInput type="number" placeholder="Comisión" formControlName="comision">
       
          <span matSuffix>%</span>
          <mat-error *ngIf="editarSubcategoriaForm.controls.comision.errors?.required">Requerido</mat-error>
          <mat-error *ngIf="editarSubcategoriaForm.controls.comision.errors?.pattern">Solo positivos</mat-error>

        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex="30%" [ngStyle]="{'justify-content': 'center'}">
        <mat-form-field    class="input" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="Creditos" type="number" formControlName="creditos">
          <mat-error *ngIf="editarSubcategoriaForm.controls.creditos.errors?.required">Requerido</mat-error>
          <mat-error *ngIf="editarSubcategoriaForm.controls.creditos.errors?.pattern">Solo positivos</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex="70%" [ngStyle]="{'justify-content': 'center'}">
        <mat-form-field    class="input" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="Descripcion" formControlName="descripcion">
          <mat-error *ngIf="editarSubcategoriaForm.controls.descripcion.errors?.required">Requerido</mat-error>
        </mat-form-field>
      </div>
    </div>

 
   
  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="editarSubcategoriaForm.invalid">Aceptar</button>
</div>