
<div fxLayout="row wrap" fxFlex="100" [ngStyle]="{'margin':'auto'}">
  <div fxLayout="row wrap" fxFlex="100"  fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
      <!-- column -->    
       <div fxFlex="100">
           <mat-card class="comments-card">
               <mat-card-title></mat-card-title>
              
    
               <mat-card-content    class="comments-content comment-widgets body-verifica-cuenta">
                <div class="text-center">
                  <span ><mat-icon aria-hidden="false" aria-label="Example home icon">mark_email_read</mat-icon></span>
                        <p style="font-weight: 500;">Cuenta no verificada</p>
                        <p class="f-p-text">Por favor, verifique su cuenta dandole click al boton y<strong></strong>  revise su correo.</p>
                        <button mat-raised-button color="primary"  class="register-button mt-4" (click)="resend_email()">Verificar cuenta</button>
                </div>
               </mat-card-content>
              
           </mat-card>
         
       </div>
      
    </div>
 </div>