<div fxLayout="row wrap"   fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
  <!-- column -->    
   <div fxFlex="100">
       <mat-card [ngStyle]="{'place-content': 'center'}">
         
           <mat-card-content fxFlex="90" >
             <div fxLayout.gt-xs="row"  fxLayout.xs="column" >
               <div fxLayout.gt-xs="column" fxLayout.xs="row" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
                 <h3 class="text-themecolor title">Mi historial</h3>

               </div>
               <div fxLayout.gt-xs="column" fxLayout.xs="row"  fxFlex.gt-xs="50%" fxFlex.xs="100%">

                 <mat-form-field class="buscador" [ngClass.gt-sm]="'buscador-small'" fxLayoutAlign.gt-xs="end">
 
                   <mat-label>Buscar</mat-label>
                   <mat-icon matPrefix class="icon-search" >search</mat-icon>
                   <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                 </mat-form-field>
               </div>
             </div>
<!--             
             nombre
             apellido
             role
             creditos
             fecha
             status
             opciones -->
             <mat-table [dataSource]="dataSource" matSort >
              
              <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Accion </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.accion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="monto">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Monto </mat-header-cell>
                <mat-cell *matCellDef="let element"> ${{element.monto}}</mat-cell>
              </ng-container>
            

            
              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fecha_creacion | date:'short'}} </mat-cell>
              </ng-container>
           

             
               <!-- Symbol Column -->
              
             
               <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             </mat-table>
             <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           </mat-card-content>
       </mat-card>
   </div>
    
</div>




