<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->    

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap" fxFlex="100">
  <!-- Card column -->
  <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh text-center little-profile">
          <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <div class="pro-img">
                  <img *ngIf="usuario" src={{usuario.url}} width="100" alt="user" class="img-circle">
              </div>
              <h3 class="m-b-0"  *ngIf="usuario" >{{usuario.nombre}} {{usuario.apellido}}</h3>
              <h6 class="m-t-0 ">Administrador</h6>
            <mat-divider ></mat-divider>
      
              <div fxLayout="column" fxLayoutWrap="wrap" class="m-t-30" *ngIf="usuario" >
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Correo electrónico</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.email}}</h6>
                    </div>
              
                      
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Teléfono</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.telefono}}</h6>
                    </div>
              
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Dirección</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.direccion}}</h6>
                    
                    </div>
              
                  </div>
              </div>
          </mat-card-content>
      </mat-card>

     
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div  fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-tab-group>
              <!-- Tab 1 -->
              <mat-tab label="Perfil">
                  <mat-card-content class="perfil-content" *ngIf="usuario">
                    <form [formGroup]="perfilForm">
                      <div fxLayout.gt-sm="row" fxLayout.lt-sm="column"> 
                        <div  fxLayout.gt-md="column" fxLayout.lt-md="row" fxFlex.gt-md="20" fxFlex.lt-md="100">
                          <div class="pro-img" *ngIf="usuario"  [ngClass.lt-md]="'center'">
                            <div >
                             
                              <img src={{usuario.urlPerfil}} width="100" alt="user" class="img-circle" >
                              <input hidden type="file" #uploader accept="image/*" (change)="subirImagen($event)"/>
                              <button mat-icon-button [ngStyle]="{'margin-left':'-20px'}" (click)="uploader.click()"><mat-icon>add_photo_alternate</mat-icon></button>
                            </div>
                      
              
                          </div>
                        </div>
                        <div fxLayout.gt-sm="column"  fxFlex.gt-sm="80" fxFlex.lt-md="100">
                          <div fxLayout.gt-sm="row" fxLayout.lt-md="column"  fxLayoutGap="20px">
                            <div fxFlex.gt-sm="50" fxFlex.lt-md="100"  fxLayoutGap="20px">
                              <mat-form-field fxFlex="50">
                                <input matInput placeholder="Nombre" type="text" formControlName="nombre"> 
                              </mat-form-field>
                              <mat-form-field fxFlex="50">
                                <input matInput placeholder="Apellido" type="text" formControlName="apellido"> 
                              </mat-form-field>
                            </div>
                            <div  fxFlex.gt-sm="50" fxFlex.lt-md="100">
                              <mat-form-field>
                                <input matInput placeholder="Teléfono" type="number" formControlName="telefono">
                              </mat-form-field>
                            </div>
                         
                          </div>
                          <div fxLayout="row"  fxLayoutGap="20px">
                            <div fxLayout="column" fxFlex="100">
                              <mat-form-field>
                                <input matInput placeholder="Dirección" type="text" formControlName="direccion">
                              </mat-form-field>
                            </div>
                          
                          </div>
                          
                        </div>
                       
                      </div>
                      <div class="save-perfil">
                        <button mat-raised-button class="haztefama-color text-white" [disabled]="perfilForm.invalid" (click)="actualizarPerfil()" >Guardar</button>
                      </div>
                   
                    </form>
                  
                 
                  </mat-card-content>
              </mat-tab>
              <!-- End Tab 1 -->
              <!-- Tab 2 -->
              <mat-tab label="Seguridad">
                  <mat-card-content>
                   
                      <!-- ============================================================== -->
                      <!-- column -->
                      <!-- ============================================================== -->
                      <form [formGroup]="seguridadForm" class="basic-form">
                          <div fxLayout="row wrap" fxFlex.gt-sm="50" fxFlex.lt-md="100" [ngStyle]="{'margin':'auto'}">
                              <!-- column -->
                              <div fxFlex.gt-sm="100" fxFlex="100">
                                  <mat-form-field>
                                      <input matInput placeholder="Correo electrónico" type="email" formControlName="email">
                                      <mat-error *ngIf="seguridadForm.controls.email.errors?.required">El correo no puede quedar vacio</mat-error>
                                      <mat-error  *ngIf="seguridadForm.controls.email.errors?.email">El correo es invalido</mat-error>
                                  </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="100" fxFlex="100">
                                  <mat-form-field>
                                      <input matInput placeholder="Nombre de usuario" type="text" formControlName="username">
                                      <mat-error *ngIf="seguridadForm.controls.username.errors?.required">El correo no puede quedar vacio</mat-error>
                                    
                                  </mat-form-field>
                              </div>
                              <!-- column -->
                            
                              <!-- column -->
                              <div fxFlex.gt-sm="100" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Contraseña actual" type="password" formControlName="password">
                                    <mat-error *ngIf="seguridadForm.controls.password.errors?.required">La contraseña es requerida</mat-error>
                                </mat-form-field>
                            </div>

                            <mat-checkbox  formControlName="cambiar" color="primary" class="example-margin">Cambiar contraseña</mat-checkbox>
                            
                              <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="seguridadForm.controls.cambiar.value" >
                                <mat-form-field>
                                    <input matInput placeholder="Nueva contraseña" type="password" formControlName="npassword">
                                    <mat-error *ngIf="seguridadForm.controls.npassword.errors?.pattern">La contraseña debe tener  entre 8 y 16 caracteres, al menos un dígito, una minúscula, buna mayúscula y un caracter no alfanumérico.</mat-error>

                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="seguridadForm.controls.cambiar.value" >
                                <mat-form-field>
                                    <input matInput placeholder="Repetir contraseña" type="password" formControlName="rnpassword">
                                    <mat-error *ngIf="seguridadForm.controls.rnpassword.errors?.required">La contraseña es requerida</mat-error>
                                    <mat-error *ngIf="seguridadForm.controls.rnpassword.errors?.repeatInvalid">La contraseña no coincide</mat-error>
                                </mat-form-field>
                            </div>
                           
                            

                              <!-- column -->
                            

                              <!-- column -->
                           
                              <!-- column -->
                              <div class="save-seguridad">
                                <button mat-raised-button class="haztefama-color text-white" [disabled]="seguridadForm.invalid" (click)="actualizarSeguridad()" >Guardar</button>
                              </div>
                          </div>
                      </form>
                  </mat-card-content>
              </mat-tab>
          </mat-tab-group>
      </mat-card>
  </div>
</div>