

<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto','margin-top':'-20px'}">

  <div fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh text-center little-profile m-t-0 formulario" [ngClass.xs]="'width-100 margin-0'">
          <mat-card-title>Generar solicitud de servicio</mat-card-title>
          <mat-card-content class="p-b-0 p-t-0">
           <form [formGroup]="solicitudesForm">
            <mat-form-field class="example-full-width">
              <mat-label>Titulo*</mat-label>
              <input matInput placeholder="Titulo..." formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width" >
              <mat-label>Lugar del evento*</mat-label>
              <input matInput placeholder="Lugar del evento..." formControlName="lugar_evento">
            </mat-form-field>
            <span>Presupuesto</span>
             
            <div fxLayout="row"  fxLayoutGap="10px">
              
              <div fxLayout="column" fxFlex="49%" >
                <mat-form-field    class="input" >
                  <input matInput type="number" placeholder="Minimo*" formControlName="min_price">
              
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="49%" >
                <mat-form-field    class="input" >
                  <input matInput type="number" placeholder="Maximo*" formControlName="max_price">
             
                </mat-form-field>
              </div>
             
            </div>
            <mat-form-field >
              <mat-label>Fecha del evento*</mat-label>
              <input matInput [min]="minDate"  [matDatepicker]="dp3" disabled formControlName="fecha_evento" class="datepicker">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field  class="input">
              <mat-label>Categoria*</mat-label>
                <mat-select formControlName="categoria" (selectionChange)="getSubcategorias($event.value)">
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">
                    {{categoria.nombre}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <div style="width: 100%;text-align-last: start !important;">
              <mat-checkbox class="example-margin" formControlName="favs">Notificar solo a proveedores favoritos</mat-checkbox>

            </div>

          

            <mat-form-field class="input">
              <mat-label>Subcategorias*</mat-label>
              <mat-select formControlName="subcategoria">
                <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria._id">{{subcategoria.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Descripción del servicio*</mat-label>
              <textarea matInput placeholder="Descripción del servicio..."  cdkTextareaAutosize formControlName="descripcion"></textarea>
            </mat-form-field>
          
          
           </form>
          </mat-card-content>
      </mat-card>

     
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div  fxFlex.gt-sm="55" fxFlex.gt-xs="100" fxFlex="100" fxLayout="column">


    
 
        <mat-card fxFLex="100" class="proyectos-card m-t-0"  fxLayout="column" >
            <mat-card-title class="proyecto-titulo" >  {{solicitudesForm.controls.nombre.value || 'Titulo'}} </mat-card-title>
            <mat-card-content fxLayout="column" class="p-0">
              <div  style="max-height: 30px !important" fxLayout="row"  >
                <div><span class="texto-oscuro">Publicado: </span> <span class="f-z-14">{{hoy | date:'short'}}</span> <span class="costo-proyecto" fxShow.xs="false" fxShow="true">${{solicitudesForm.controls.min_price.value || 0}} - ${{solicitudesForm.controls.max_price.value || 0}}</span></div>
              </div>
              <div  style="max-height: 30px !important" fxLayout="row"  >
                <div><span class="texto-oscuro">Lugar del evento: </span> <span class="f-z-14">{{solicitudesForm.controls.lugar_evento.value}}</span> </div>
              </div>
              <p><span class="texto-oscuro ">Fecha de entrega: </span> <span>{{solicitudesForm.controls.fecha_evento.value | date:'shortDate'}}</span></p>

              <div fxLayout="row" style="max-height: 30px !important" >
                <span class="costo-proyecto" fxShow.xs="true" fxShow="false">${{solicitudesForm.controls.min_price.value || 0}} - ${{solicitudesForm.controls.max_price.value || 0}}</span>
              </div>
              
                <textarea  matInput class="descripcion-proyecto" [ngClass.xs]="'m-t-25'" disabled [ngStyle]="{'color':'#000','resize': 'none'}">{{solicitudesForm.controls.descripcion.value || 'Descripción del servicio'}}</textarea>

           
              <div>
  
                <mat-chip-list>
                  
                  <mat-chip color="warn" selected="true" *ngIf="solicitudesForm.controls.categoria.value">{{getNameOfCategoria(solicitudesForm.controls.categoria.value)}}</mat-chip>
                  <mat-chip color="accent" selected="true" *ngIf="solicitudesForm.controls.subcategoria.value">{{getNameOfSubcategoria(solicitudesForm.controls.subcategoria.value)}}</mat-chip>
                </mat-chip-list>
              </div>
              <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100" class="proyecto-owner" fxLayoutGap="10px">
                <div>
                  <div>
                  
                  </div>
               
                </div>
               
                <div>
                  <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" [disabled]="solicitudesForm.invalid" (click)="crearSolicitud()" >Crear servicio</button>
  
                </div>
  
  
              </div>
            </mat-card-content>
            
        </mat-card>
      
    
  </div>
 </div>
 

