<h1 mat-dialog-title class="text-center margin-button-5 error">Correo invalido</h1>
<div mat-dialog-content class="text-center margin-button-5">
No existe una cuenta registrada con este correo electronico
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>