

<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto','margin-top':'-20px'}">

  <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="categorias m-t-0">
          <mat-card-title>Categorias</mat-card-title>
          <mat-card-content>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <mat-checkbox value="node.id"  (click)="subcategoriasFiltro(node.id)">{{node.name}}</mat-checkbox> 
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox value="node.id"  (click)="categoriasFiltro(node.id)" >{{node.name}}</mat-checkbox> 
              </mat-tree-node>
            </mat-tree>
          </mat-card-content>
      </mat-card>

  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div  fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlex="100" fxLayout="column">


      <mat-card class=" m-t-0">
        <mat-card-content _ngcontent-hqr-c251="" class="mat-card-content text-center">
          <mat-form-field class="example-full-width">
            <mat-label>Servicios</mat-label>
            <mat-icon matPrefix class="search-button">search</mat-icon>
            <input matInput placeholder="Servicios..." (input)="onSearchChange($event.target.value)">
          </mat-form-field>
        
      </mat-card-content> 
      </mat-card>
      <div   class="proyectos">
        <mat-card fxFLex="100" class="proyectos-card"  fxLayout="column" *ngFor="let servicio of servicios">
          <mat-card-title class="proyecto-titulo" (click)="information(servicio._id)">  {{servicio.nombre}} </mat-card-title>
          <div fxLayout="row" fxFlex="100" >
            <div><span class="texto-oscuro">Publicado: </span> <span class="f-z-14">{{servicio.fecha_creacion | date:'short'}}</span> <span class="costo-proyecto" fxShow.xs="false" fxShow="true">${{servicio.min_price}} - ${{servicio.max_price}}</span></div>
          </div>
          <div fxLayout="row" fxFlex="100" >
            <div><span class="texto-oscuro">Lugar del evento: </span> <span class="f-z-14">{{servicio.lugar_evento}}</span> </div>
          </div>
          <div fxLayout="row" fxFlex="100" >
            <span class="costo-proyecto" fxShow.xs="true" fxShow="false">${{servicio.min_price}} - ${{servicio.max_price}}</span>
          </div>
          <p class="descripcion-proyecto" [ngClass.xs]="'m-t-25'">{{servicio.descripcion}}</p>
          <p><span class="texto-oscuro">Fecha de entrega: </span> <span>{{servicio.fecha_evento | date:'shortDate'}}</span></p>
          <div>

            <mat-chip-list>
              
              <mat-chip color="warn" selected="true">{{servicio.categoria.nombre}}</mat-chip>
              <mat-chip color="accent" selected="true">{{servicio.subcategoria.nombre}}</mat-chip>
            </mat-chip-list>
          </div>
          <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100" class="proyecto-owner" fxLayoutGap="10px">
            <div>
              <div>
              
                <span class="author-avatar">
                  <a >
                    <img src="{{url}}{{servicio.usuario.foto}}" width="60" class="profile-photo">
                  </a>
                </span>          
                 <span class="f-z-14" class="author-name">{{servicio.usuario.nombre}} {{servicio.usuario.apellido}}</span>
              </div>
           
            </div>
            <span class="author-rate">
              <mat-icon class="star star-fill">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </span>
            <div>
              <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" (click)="postular(servicio)">Postular</button>

            </div>


          </div>
      </mat-card>
    
       
      
        
      </div>
  </div>
 </div>
 
