.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

.text-muted {
    color: #99abb4 !important;
}

.perfil-content{
    padding: 20px;
}

.center{
    margin: auto;
}

.save-perfil{
    text-align: right;
    padding: 0px 20px;

}
.save-seguridad{
    text-align: right;
    width: 100%;
    padding: 0px 20px;

}

.save-seguridad button[disabled]{
    background-color: #99abb4;
}


.text-white{
    color: white;
}


.proyectos-card{
    padding: 20px !important;
}

.texto-oscuro{
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}

.f-z-14{
    font-size: 14px;
}

.descripcion-proyecto{
    height: 100px;
    overflow: hidden;
}

.info-extra{
    height: 140px;
    padding: 20px !important;
}

.proyecto-titulo{
    cursor: pointer;
}

.proyecto-owner{
    margin-top: 1.5rem;
}

.profile-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.author-rate{
    margin-left: 10px;
    .star{
        vertical-align: middle;
        font-size: 18px;
    }
    .star-fill{
        color: #ffc73b;
    }
}

.my-rate{
    .star-fill{
        color: #ffc73b;
    }
}

.buscar-trabajo-button{
    position: absolute;
    right: 15px;
}

.costo-proyecto{
    right: 25px;
    color: #0ad254;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
}

.boton-proyecto{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.author-name{
    align-self: center;
    margin-left: 10px;
}
.proyectos{
    height: 650px !important;
    overflow-y: scroll;
}::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.527);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.575);
  }

  .categorias{
      padding: 20px !important;
  }


  .search-button{
    color: #de5a5a;
    vertical-align: middle;
}

.mat-tree-node {
    
    min-height: 30px !important;
   
}