<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;" >
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Markarn Doe <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
    
</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/admin', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>      
        <a class="" appAccordionToggle  *ngIf="menuitem.type === 'group'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
            <mat-icon role="img" class="mat-icon notranslate dd-icon material-icons mat-icon-no-color" aria-hidden="true">keyboard_arrow_down</mat-icon>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>     
        <mat-nav-list class="sub-item">
            <mat-list-item *ngFor="let item of menuitem.group"  class="mat-list-item-content">
                <a class="" appAccordionToggle  [routerLink]="item.state" routerLinkActive="selected" >
                    <span >{{ item.name }} </span> 
                    <span fxFlex></span> 
                </a>    
            </mat-list-item>
            <mat-list-item *ngIf="!usuario.verificado" class="mat-list-item-content">
                <a appAccordionToggle mat-menu-item *ngFor="let item_verify of menuitem.verify"
                    [routerLink]="item_verify.state" routerLinkActive="selected" >

                    {{item_verify.name}}
                </a>
            </mat-list-item>    
        </mat-nav-list> 
        

    </mat-list-item>

</mat-nav-list>
