<h2 mat-dialog-title class="text-center margin-button-5 success">Información usuario</h2>
<div mat-dialog-content class="text-center margin-button-5">

          
        
              <div >
                  <img *ngIf="usuario" src="{{usuario.url}}" width="100" height="100" alt="user" class="img-circle">
              </div>
              <h3 class="m-b-0"  *ngIf="usuario" >{{usuario.nombre}} {{usuario.apellido}}</h3>
        
         
      
              <div fxLayout="column" fxLayoutWrap="wrap" class="m-t-30" *ngIf="usuario" >
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Correo electrónico</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.email}}</h6>
                    </div>
              
                      
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Rol</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50" *ngIf="usuario.role == 'client'">Cliente</h6>
                      <h6 class="m-0" fxLayout="row" fxFlex="50" *ngIf="usuario.role == 'provider'">Proveedor</h6>
                    </div>
              
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Dirección</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.direccion}}</h6>
                    
                    </div>
              
                  </div>
                   <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Telefono</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.telefono}}</h6>
                    
                    </div>
              
                  </div>
                
               
              </div>
  

  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Salir</button>
</div>