<div class="login" fxLayout="row">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%">
  </div>
  <div fxFlex.lt-md="100%"  fxFlex.gt-sm="40%" fxLayout="row" class="login-content">
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-new-password" *ngIf="valido">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>
                <p style="font-weight: 500;">Nueva contraseña</p>
                <p class="f-p-text">Introduce tu nueva contraseña</p>
        </div>
        <form [formGroup]="nuevaForm"   >
          <mat-form-field>
            <input matInput type="password" placeholder="Nueva contraseña"  formControlName="password" >
            <mat-error *ngIf="nuevaForm.controls.password.errors?.required">La contraseña es requerida</mat-error>
        
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Repetir contraseña"  formControlName="rpassword" >
            <mat-error *ngIf="nuevaForm.controls.rpassword.errors?.required">Por favor ingrese su contraseña de nuevo</mat-error>
            <mat-error *ngIf="nuevaForm.controls.rpassword.errors?.repeatInvalid">Contraseñas no coinciden</mat-error>

          </mat-form-field>
        
          <div fxLayout="row">
            <div fxFlex.gt-sm="50%"></div>
          
        
          </div>
          <button   mat-raised-button color="primary"  class="login-button" [disabled]="nuevaForm.invalid" (click)="newPassword()">Cambiar contraseña</button>
        </form>
      
     
        
      </mat-card-content>        
  </mat-card>
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-new-password" *ngIf="!valido">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon></span>
                <p style="font-weight: 500;">Enlace caducado</p>
                <p class="f-p-text">Este enlace ya no se encuentra disponible</p>
                <a routerLink="/ingresa" class="link te">Volver al inicio</a>
        </div>


     
        
      </mat-card-content>        
  </mat-card>
  </div>


</div>