<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Editar membresia</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="membresiaForm" [ngStyle]="{'justify-content': 'center'}">
    <div fxFlex="column">

      <div fxLayout="row">

        <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="nombre de membresia" formControlName="nombre">
          <mat-error *ngIf="membresiaForm.controls.nombre.errors?.required">El nombre es requerido</mat-error>
        
        </mat-form-field>
      </div>
      <div fxLayout="row"  fxLayoutGap="10px" class="width-70 margin-auto">
        
        <mat-form-field fxFlex="50%"  class="input text-center">
          <input matInput type="number" placeholder="Precio" formControlName="precio">
          <mat-error *ngIf="membresiaForm.controls.precio.errors?.required">Requerido</mat-error>
          <mat-error *ngIf="membresiaForm.controls.precio.errors?.pattern">Solo positivo</mat-error>
        
        </mat-form-field>
        <mat-form-field fxFlex="50%"  class="input text-center">

          <input matInput type="number" placeholder="Creditos" formControlName="creditos">
          <mat-error *ngIf="membresiaForm.controls.creditos.errors?.required">Requerido</mat-error>
          <mat-error *ngIf="membresiaForm.controls.creditos.errors?.pattern">Solo positivo</mat-error>
        
        </mat-form-field>
      </div>
      <div fxLayout="row"  fxLayoutGap="10px">
        
       
        <mat-form-field  fxFlex="80%"    class="input margin-auto" [ngStyle]="{'text-align': 'center'}">
          <input matInput placeholder="Descripcion" formControlName="descripcion">
          <mat-error *ngIf="membresiaForm.controls.descripcion.errors?.required">Requerido</mat-error>
        </mat-form-field>
     
    </div>
    </div>
  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="membresiaForm.invalid">Aceptar</button>
</div>