<div class="login" fxLayout="row">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%">
  </div>
  <div fxFlex.lt-md="100%"  fxFlex.gt-sm="40%" fxLayout="row" class="login-content">
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-login">
      <mat-card-content >
        <div class="text-center">
          <img alt="homepage" src="./assets/images/logo.png" width="100px">
          <h4  class="top-card">Iniciar sesión</h4>
        </div>
        <div class="text-center">Con tus redes sociales</div>
        <div fxLayour="row" >
          
          <div class="text-center" fxFlex="50%">
            <button  mat-raised-button class="facebook-button" (click)="loginSocial('facebook')"> <img src="./assets/images/facebook.png" alt="facebook" width="18px" height="18px"> <span style="margin-left: 5px;">Facebook</span> </button>
          </div>
          <div  class="text-center" fxFlex="50%">
            <button  mat-raised-button class="google-button" (click)="loginSocial('google')"><img  src="./assets/images/google.png" alt="google" width="18px" height="18px"><span style="margin-left: 5px;">Google</span> </button>
          </div>
        </div>
       
        <hr class="hr-text" data-content="O">
        <form [formGroup]="loginForm"   >
          <mat-form-field>
            <input matInput placeholder="Correo electrónico"  formControlName="email" >
            <mat-error *ngIf="loginForm.controls.email.errors?.required">EL correo es requerido</mat-error>
            <mat-error *ngIf="loginForm.controls.email.errors?.email">EL correo es incorrecto</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password"   placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">EL contraseña es requerida</mat-error>
          </mat-form-field>
          <div fxLayout="row">
            <div fxFlex="50%"> <mat-checkbox  formControlName="remember" color="primary" class="example-margin">Recuerdame</mat-checkbox></div>
            <div fxFlex="50%" style="text-align: right;"> <a class="link"  routerLink="/recuperar-contrasena">Olvido la contraseña?</a></div>
        
          </div>
          <button   mat-raised-button color="primary"  class="login-button" [disabled]="loginForm.invalid" (click)="login()">Ingresar</button>
        </form>
        <div class="text-center no-account" >

          <span>¿No tienes una cuenta? </span><a routerLink="/registrate" class="text-info">Registrate</a>
        </div>
      

     
        
      </mat-card-content>        
  </mat-card>
  </div>


</div>