/* You can add global styles to this file, and also import other style files */


.haztefama-color{
    background-color: #d94343 !important;
}
.haztefama-color-verde{
    background-color: #00e676 !important;
}
.haztefama-color-naranja{
    background-color: #ff6d00 !important;
}
.haztefama-color-rojo{
    background-color: #d94343 !important;
}
.haztefama-color-rojo-gradient{
    background: linear-gradient(90deg, rgba(158,47,47,1) 0%, rgba(217,67,67,1) 73%) !important;
}
.haztefama-color-azul{
    background-color: #2196f3 !important;
}

.profile-header{
    min-width: 270px;
    height: 100px;
    padding: 10px 15px;
}

.profile-img{
    align-self: center;
    margin: auto;
    border-radius: 5px;
}

.profile-name{
    margin-top: 2px;
    margin-bottom: 0px;

}

.width-70{
    width: 70% !important;
}

.profile-email{

    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #99abb4 !important;
    width: 100%;
    overflow: hidden;
}


.logo-center  {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }

.margin-auto{
    margin: auto !important;
}

.mini-sidebar {
    width: 60px;
    text-align: center; }


.sidebar-horizontal{
  
    background-color: #fff;
}

.max-w{
    max-width: 1280px !important;
  }

  .page-wrapper .page-content{
    max-width: 1280px !important;
    margin: auto !important;
  }


  .bg-success {
    background-color: #26c6da!important;
}

.text-white{
    color: white;
}

.p-t-0{
    padding-top: 0px !important;
}
.p-b-0{
    padding-bottom: 0px !important;
}

.m-t-0{
    margin-top: 0px !important;
}
.m-0{
    margin: 0 !important;
}
.m-b-5{
    margin-bottom: 5px !important;
}
.m-t-2r{
    margin-top: 2rem !important;
}

.m-t-25{
    margin-top: 25px !important;
}

.p-0{
    padding: 0 !important;
}

.width-100{
    width: 100% !important;
}

.margin-0{
    margin: 0 !important;
}