<h1 mat-dialog-title class="text-center margin-button-5 success">Registro exitoso</h1>
<div mat-dialog-content class="text-center margin-button-5">
Su registro se ha completado exitosamente, verifique su correo
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Aceptar</button>
</div>