

<div fxLayout="row wrap"  fxFlex="100" [ngStyle]="{'margin':'auto','margin-top':'-20px'}">

  <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh text-center little-profile m-t-0">
          <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <div class="pro-img">
                  <img *ngIf="usuario" src={{usuario.url}} width="100" alt="user" class="img-circle">
              </div>
              <h3 class="m-b-0 my-profile"  *ngIf="usuario" routerLink="/proveedor/perfil">{{usuario.nombre}} {{usuario.apellido}}</h3>
              <h6 class="m-t-0 ">Proveedor</h6>
            <mat-divider ></mat-divider>
      
              <div fxLayout="column" fxLayoutWrap="wrap" class="m-t-30" *ngIf="usuario" >
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Correo electrónico</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.email}}</h6>
                    </div>
              
                      
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Teléfono</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.telefono}}</h6>
                    </div>
              
                  </div>
                  <div fxLayout="row" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="p-t-4">
                    <div fxLayout="column">
                      <small fxLayout="row" class="text-muted " fxFlex="50">Dirección</small> 
                      <h6 class="m-0" fxLayout="row" fxFlex="50">{{usuario.direccion}}</h6>
                    
                    </div>
              
                  </div>
              </div>
          </mat-card-content>
      </mat-card>

      <mat-card class="info-extra" fxLayout="column">
        <div fxLayout="row">

          <div fxLayout="column">
            <span class="texto-oscuro">Mi calificación</span>
            <span class="my-rate">
              <mat-icon class="star star-fill">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </span>
          </div>
          <div>
            <button mat-button routerLink="/proveedor/busca-trabajo" class="buscar-trabajo-button haztefama-color-rojo-gradient text-white">Buscar trabajo</button>
          </div>
        </div>
        <div fxLayout="column">
          <span class="texto-oscuro">
            Mis creditos
          </span>
          <span *ngIf="usuario">{{usuario.creditos}}</span>
        </div>
      </mat-card>
     
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div  fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlex="100" fxLayout="column">


      <mat-card class="haztefama-color-rojo-gradient m-t-0">
        <mat-card-content _ngcontent-hqr-c251="" class="mat-card-content text-center text-white">
          <h2 class="message">Adquiere tu membresía y no pierdas la oportunidad
            de aumentar tus clientes</h2>
            <button mat-button routerLink="/proveedor/membresias">Membresías</button>
      </mat-card-content> 
      </mat-card>
      <div   class="proyectos">
        <mat-card fxFLex="100" class="proyectos-card"  fxLayout="column" *ngFor="let servicio of servicios">
            <mat-card-title class="proyecto-titulo" (click)="information(servicio._id)">  {{servicio.nombre}} </mat-card-title>
            <div fxLayout="row" fxFlex="100" >
              <div><span class="texto-oscuro">Publicado: </span> <span class="f-z-14">{{servicio.fecha_creacion | date:'short'}}</span> <span class="costo-proyecto" fxShow.xs="false" fxShow="true">${{servicio.min_price}} - ${{servicio.max_price}}</span></div>
            </div>
            <div fxLayout="row" fxFlex="100" >
              <div><span class="texto-oscuro">Lugar del evento: </span> <span class="f-z-14">{{servicio.lugar_evento}}</span> </div>
            </div>
            <div fxLayout="row" fxFlex="100" >
              <span class="costo-proyecto" fxShow.xs="true" fxShow="false">${{servicio.min_price}} - ${{servicio.max_price}}</span>
            </div>
            <p class="descripcion-proyecto" [ngClass.xs]="'m-t-25'">{{servicio.descripcion}}</p>
            <p><span class="texto-oscuro">Fecha de entrega: </span> <span>{{servicio.fecha_evento | date:'shortDate'}}</span></p>
            <div>

              <mat-chip-list>
                
                <mat-chip color="warn" selected="true">{{servicio.categoria.nombre}}</mat-chip>
                <mat-chip color="accent" selected="true">{{servicio.subcategoria.nombre}}</mat-chip>
              </mat-chip-list>
            </div>
            <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100" class="proyecto-owner" fxLayoutGap="10px">
              <div>
                <div>
                
                  <span class="author-avatar">
                    <a >
                      <img src="{{url}}{{servicio.usuario.foto}}" width="60" class="profile-photo">
                    </a>
                  </span>          
                   <span class="f-z-14" class="author-name">{{servicio.usuario.nombre}} {{servicio.usuario.apellido}}</span>
                </div>
             
              </div>
              <span class="author-rate">
                <mat-icon class="star star-fill">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
                <mat-icon class="star">star</mat-icon>
              </span>
              <div>
                <button mat-raised-button class="haztefama-color-rojo-gradient text-white" [ngClass.gt-xs]="'boton-proyecto'" (click)="postular(servicio)" >Postular</button>

              </div>


            </div>
        </mat-card>
      
        
      </div>
  </div>
 </div>
 
