<div fxLayout="row wrap" fxFlex="100" [ngStyle]="{'margin':'auto'}" class="max-w">
  <div fxLayout="row wrap" fxFlex="100"  fxLayoutAlign="center" [ngStyle]="{'margin':'auto'}">
    <!-- column -->    
     <div fxFlex="100">
         <mat-card class="comments-card">
             <mat-card-title>Mis proveedores favoritos</mat-card-title>
            
  
             <mat-card-content   class="comments-content comment-widgets">
     
              <div class="d-flex flex-row comment-row ng-star-inserted" fxLayout="row" class="comment-row" *ngFor="let favorito of proveedores">
                <div class="p-2">
                    <span class="round" style="background: inherit !important;">
                      <img
                          
                          alt="user"
                          width="80"
                          height="80"
                          src="{{url}}{{favorito.proveedor.foto}}">
                    </span>
                  </div>
                  <div style="width: 90%;" class="comment-text" >
                      <h3 class="m-0" >{{favorito.proveedor.nombre}} {{favorito.proveedor.apellido}}</h3>
                      <span class="my-rate">
                        <mat-icon class="star star-fill">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                      </span>
                      <span class="rate-number">1/5</span>
                      <button mat-raised-button class="remove-button haztefama-color-rojo-gradient" (click)="remover(favorito._id)">Remover de favoritos</button>
                  </div>
               
              </div>
             </mat-card-content>
            
         </mat-card>
       
     </div>
    
  </div>
  

  
 </div>


 
 