<h1 mat-dialog-title class="text-center margin-button-5 text-themecolor">Nuevo rol</h1>
<div mat-dialog-content class="text-center margin-button-5">
  <form [formGroup]="rolForm" [ngStyle]="{'justify-content': 'center'}">
    <div fxFlex="column">
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input margin-auto" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput placeholder="Nombre de Rol" formControlName="nombre">
                <mat-error *ngIf="rolForm.controls.nombre.errors?.required">El nombre es requerido</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="80%"  class="input" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <input matInput placeholder="Descripcion del Rol" formControlName="descripcion">
                <mat-error *ngIf="rolForm.controls.descripcion.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Servicios</h5>
                <mat-checkbox class="" formControlName="CREATE_servicios">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_servicios">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_servicios">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_servicios">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Conflicos</h5>
                <mat-checkbox class="" formControlName="CREATE_conflictos">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_conflictos">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_conflictos">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_conflictos">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Pagos</h5>
                <mat-checkbox class="" formControlName="CREATE_pagos">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_pagos">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_pagos">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_pagos">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Roles y Permisos</h5>
                <mat-checkbox class="" formControlName="CREATE_rolesypermisos">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_rolesypermisos">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_rolesypermisos">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_rolesypermisos">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Categorias</h5>
                <mat-checkbox class="" formControlName="CREATE_categorias">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_categorias">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_categorias">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_categorias">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Membresia</h5>
                <mat-checkbox class="" formControlName="CREATE_membresia">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_membresia">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_membresia">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_membresia">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Usuarios</h5>
                <mat-checkbox class="" formControlName="CREATE_usuarios">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_usuarios">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_usuarios">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_usuarios">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Atención al cliente</h5>
                <mat-checkbox class="" formControlName="CREATE_atencionCliente">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_atencionCliente">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_atencionCliente">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_atencionCliente">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Comentarios</h5>
                <mat-checkbox class="" formControlName="CREATE_comentarios">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_comentarios">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_comentarios">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_comentarios">Eliminar</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80%" fxLayoutGap="10px" [ngStyle]="{'text-align': 'center', 'margin': '0 auto'}">
                <h5>Auditoria</h5>
                <mat-checkbox class="" formControlName="CREATE_auditoria">Crear</mat-checkbox>
                <mat-checkbox class="" formControlName="READ_auditoria">Ver</mat-checkbox>
                <mat-checkbox class="" formControlName="UPDATE_auditoria">Actualizar</mat-checkbox>
                <mat-checkbox class="" formControlName="DELETE_auditoria">Eliminar</mat-checkbox>
            </div>
        </div>

    </div>
      
    
  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-auto">Cancelar</button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class="margin-auto" [disabled]="rolForm.invalid">Aceptar</button>
</div>