<div class="page-titles breadcrumb-margin max-w" fxLayout="row" fxFlex="100"   > 
    <div class="breadcrumb-text">
        <h3 class="text-themecolor title">{{title}}</h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item active" *ngFor="let item of breadcrumbs">{{item}}</li>
         
        </ol>
    </div>

</div>